.hidden {
    display: none;
}

.active {
    background: red;
}

.color1 {
    background: red;
}

.color2 {
    background: green;
}

.color3 {
    background: yellow;
}

.crossed {
    text-decoration: line-through;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.green-bg {
    background-color: green;
}
